{{outlet}}

{{outlet}}

<body data-spy="scroll" data-offset="80">
{{nav-bar}}

<section id="home" class="main"  style="background-image: url(images/gallery_main.jpg);  background-size:cover; background-position: center center; ">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="hero-text">
						<h2>Gallery</h2>
					</div> 
          <div class="row justify-content-center">
            <div class="col-md-8">
              {{image-galleries}}
            </div>
            <br>
            <div class="col-md-8">
              {{video-galleries}}
            </div>
          </div>
				</div><!-- END COL-->
			</div><!-- END ROW-->
		</div><!-- END CONTAINER-->
	</section>
	<!-- END  HOME DESIGN -->
</body>